{% extends 'base.html.twig' %}

{% block title %}File index{% endblock %}

{% block body %}
    <h1>File index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Link</th>
                <th>PhisicalFileName</th>
                <th>Name</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.link }}</td>
                <td>{{ file.phisicalFileName }}</td>
                <td>{{ file.name }}</td>
                <td>{{ file.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ file.createdAt ? file.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('file_show', {'id': file.id}) }}">show</a>
                    <a href="{{ path('file_edit', {'id': file.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('file_new') }}">Create new</a>
{% endblock %}
